*{
    padding: 0;
    margin: 0;

}
.root{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root-1{
    background-color: rgb(241, 218, 218);
}
#root-2{
    background-color: rgb(215, 237, 247);
}