*{
    padding: 0;
    margin: 0;

}
#root{
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 218, 218);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* For root-3  */
#root-3{
    height: 100vh;
    width: 100vw;
    background-color: rgb(190, 216, 141);
    display: flex;
    justify-content: center;
    align-items: center;
}